.body-bg-11{background:#fff}
.body-bg-12{background:#e5e5e5}
.body-bg-13{background:#333}
.body-bg-14{background:rgba(31,123,198,0.1)}
.body-bg-15{background:rgba(142,196,73,0.1)}
.body-bg-16{background:rgba(70,104,137,1)}
.body-bg-21 {background: url("../../../images/site_bg/21.png") repeat;}
.body-bg-22 {background: url("../../../images/site_bg/22.png") repeat;}
.body-bg-23 {background: url("../../../images/site_bg/23.png") repeat;}
.body-bg-24 {background: url("../../../images/site_bg/24.png") repeat;}
.body-bg-25 {background: url("../../../images/site_bg/25.png") repeat;}
.body-bg-26 {background: url("../../../images/site_bg/26.png") repeat;}
.body-bg-31 {background: url("../../../images/site_bg/31.png") repeat;}
.body-bg-32 {background: url("../../../images/site_bg/32.png") repeat;}
.body-bg-33 {background: url("../../../images/site_bg/33.png") repeat;}
.body-bg-34 {background: url("../../../images/site_bg/34.png") repeat;}
.body-bg-35 {background: url("../../../images/site_bg/35.png") repeat;}
.body-bg-36 {background: url("../../../images/site_bg/36.png") repeat;}
.body-bg-41 {background: url("../../../images/site_bg/41.png") repeat;}
.body-bg-42 {background: url("../../../images/site_bg/42.gif") repeat;}
.body-bg-43 {background: url("../../../images/site_bg/43.png") repeat;}
.body-bg-44 {background: url("../../../images/site_bg/44.png") repeat;}
.body-bg-45 {background: url("../../../images/site_bg/45.png") repeat;}
.body-bg-46 {background: url("../../../images/site_bg/46.jpg") repeat;}

.body-bg-51 {background: url("../../../images/site_bg/1.jpg") no-repeat fixed; background-size: cover;}
.body-bg-52 {background: url("../../../images/site_bg/2.jpg") no-repeat fixed; background-size: cover;}
.body-bg-53 {background: url("../../../images/site_bg/3.jpg") no-repeat fixed; background-size: cover;}
.body-bg-54 {background: url("../../../images/site_bg/4.jpg") no-repeat fixed; background-size: cover;}
.body-bg-55 {background: url("../../../images/site_bg/5.jpg") no-repeat fixed; background-size: cover;}
.body-bg-56 {background: url("../../../images/site_bg/6.jpg") no-repeat fixed; background-size: cover;}
.minibg{background-repeat: no-repeat;background-size: cover;}



.header-bg-11{background:#fff}
.header-bg-12{background:#e5e5e5}
.header-bg-13{background:#333}
.header-bg-14{background:rgba(31,123,198,0.1)}
.header-bg-15{background:rgba(142,196,73,0.1)}
.header-bg-16{background:rgba(70,104,137,1)}
.header-bg-21 {background: url("../../../images/site_bg/21.png") repeat;}
.header-bg-22 {background: url("../../../images/site_bg/22.png") repeat;}
.header-bg-23 {background: url("../../../images/site_bg/23.png") repeat;}
.header-bg-24 {background: url("../../../images/site_bg/24.png") repeat;}
.header-bg-25 {background: url("../../../images/site_bg/25.png") repeat;}
.header-bg-26 {background: url("../../../images/site_bg/26.png") repeat;}
.header-bg-31 {background: url("../../../images/site_bg/31.png") repeat;}
.header-bg-32 {background: url("../../../images/site_bg/32.png") repeat;}
.header-bg-33 {background: url("../../../images/site_bg/33.png") repeat;}
.header-bg-34 {background: url("../../../images/site_bg/34.png") repeat;}
.header-bg-35 {background: url("../../../images/site_bg/35.png") repeat;}
.header-bg-36 {background: url("../../../images/site_bg/36.png") repeat;}
.header-bg-41 {background: url("../../../images/site_bg/41.png") repeat;}
.header-bg-42 {background: url("../../../images/site_bg/42.gif") repeat;}
.header-bg-43 {background: url("../../../images/site_bg/43.png") repeat;}
.header-bg-44 {background: url("../../../images/site_bg/44.png") repeat;}
.header-bg-45 {background: url("../../../images/site_bg/45.png") repeat;}
.header-bg-46 {background: url("../../../images/site_bg/46.jpg") repeat;}

.header-bg-51 {background: url("../../../images/site_bg/1.jpg") no-repeat fixed; background-size: cover;}
.header-bg-52 {background: url("../../../images/site_bg/2.jpg") no-repeat fixed; background-size: cover;}
.header-bg-53 {background: url("../../../images/site_bg/3.jpg") no-repeat fixed; background-size: cover;}
.header-bg-54 {background: url("../../../images/site_bg/4.jpg") no-repeat fixed; background-size: cover;}
.header-bg-55 {background: url("../../../images/site_bg/5.jpg") no-repeat fixed; background-size: cover;}
.header-bg-56 {background: url("../../../images/site_bg/6.jpg") no-repeat fixed; background-size: cover;}




.footer-bg-11{background:#fff}
.footer-bg-12{background:#e5e5e5}
.footer-bg-13{background:#333}
.footer-bg-14{background:rgba(31,123,198,0.1)}
.footer-bg-15{background:rgba(142,196,73,0.1)}
.footer-bg-16{background:rgba(70,104,137,1)}
.footer-bg-21 {background: url("../../../images/site_bg/21.png") repeat;}
.footer-bg-22 {background: url("../../../images/site_bg/22.png") repeat;}
.footer-bg-23 {background: url("../../../images/site_bg/23.png") repeat;}
.footer-bg-24 {background: url("../../../images/site_bg/24.png") repeat;}
.footer-bg-25 {background: url("../../../images/site_bg/25.png") repeat;}
.footer-bg-26 {background: url("../../../images/site_bg/26.png") repeat;}
.footer-bg-31 {background: url("../../../images/site_bg/31.png") repeat;}
.footer-bg-32 {background: url("../../../images/site_bg/32.png") repeat;}
.footer-bg-33 {background: url("../../../images/site_bg/33.png") repeat;}
.footer-bg-34 {background: url("../../../images/site_bg/34.png") repeat;}
.footer-bg-35 {background: url("../../../images/site_bg/35.png") repeat;}
.footer-bg-36 {background: url("../../../images/site_bg/36.png") repeat;}
.footer-bg-41 {background: url("../../../images/site_bg/41.png") repeat;}
.footer-bg-42 {background: url("../../../images/site_bg/42.gif") repeat;}
.footer-bg-43 {background: url("../../../images/site_bg/43.png") repeat;}
.footer-bg-44 {background: url("../../../images/site_bg/44.png") repeat;}
.footer-bg-45 {background: url("../../../images/site_bg/45.png") repeat;}
.footer-bg-46 {background: url("../../../images/site_bg/46.jpg") repeat;}

.footer-bg-51 {background: url("../../../images/site_bg/1.jpg") no-repeat fixed; background-size: cover;}
.footer-bg-52 {background: url("../../../images/site_bg/2.jpg") no-repeat fixed; background-size: cover;}
.footer-bg-53 {background: url("../../../images/site_bg/3.jpg") no-repeat fixed; background-size: cover;}
.footer-bg-54 {background: url("../../../images/site_bg/4.jpg") no-repeat fixed; background-size: cover;}
.footer-bg-55 {background: url("../../../images/site_bg/5.jpg") no-repeat fixed; background-size: cover;}
.footer-bg-56 {background: url("../../../images/site_bg/6.jpg") no-repeat fixed; background-size: cover;}

