.news-calendar {position: relative;}
.news-calendar .btn.events {display: block;}
.NewsCalNews {
    position: absolute;
    padding: 10px 15px;
    z-index: 1010;
    display: none;
    max-width: 276px;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.NewsCalOtherMonth {background: #fcf8e3;}
.NewsCalHoliday {background: #fcd58c;color: #fff;}
.table .NewsCalDefault,.table .NewsCalOtherMonth,.table .NewsCalToday {padding: 0;}
a.dotted-link {border-bottom: 1px dashed #1F7BC6;text-decoration: none;}